<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/nav %>
    <h1><%= data.name %></h1>
    <div><%= data.artist %></div>
    <div><%= data.releaseYear %></div>
  </body>
</html>
