<div id="contact-content">
  <h1>This is contact page!</h1>

  <form action="/form" method="POST">
    Your Name:<br>
    <input type="text" name="firstname" placeholder="Enter your name"/>
    <br>
    Comment:<br>
    <textarea name="comment">Enter text here...</textarea>
    <br>
    <input type="submit" value="Submit Comment">
  </form>

</div>
