<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
  </head>
  <body>
    <% include partials/nav %>
    <div class="container">
      <% if(content === "home") { %> <% include content/home %> <% } %>
      <% if(content === "about") { %> <% include content/about %> <% } %>
      <% if(content === "contact") { %> <% include content/contact %> <% } %>
      <% if(content === "post") { %> <% include content/post %> <% } %>
      <% if(content === "blog") { %> <% include content/blog %> <% } %>
    </div>
    <footer>Simsek LLC @2019</footer>
  </body>
</html>
